/*SignContainer*/
.HomeMain {
    font-family: Arial;
    font-stretch: narrower;
    
    font-size: 40px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Logo in SignContainer*/
.HomeMain img {
    display: flex;
    width: 128px;
    height: 128px;
}

/*Flex container*/
.AboutUs {
    display: flex;
    flex-direction: column;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/*Row*/
.AboutUs div{
    display: flex;
    flex-direction: row;

    margin: 20px 0px 20px 0px;
}

/*Cell*/
.AboutUs div div{
    width: 50%;

    justify-content: center;
    align-content: center;
    align-items: center;
}

/*Text inside cell*/
.AboutUs div div div {
    padding: 50px;
    display: flex;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.16);
    height: min-content;
    width: 65%;
    color: white;
    box-shadow: 60px 72px 64px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
}

/*Image inside cell*/
.AboutUs div div img {
    border-radius: 25px;
    box-shadow: 60px 72px 64px rgba(0, 0, 0, 0.25);
}