/*Flex container*/
.AboutUs {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 50px;
}

/*Row*/
.AboutUs div{
    display: flex;
    flex-direction: row;
    flex-flow:wrap;
    margin: 20px 0px 20px 0px;
}

/*Cell*/
.AboutUs div div{
    width: 50%;

    justify-content: center;
    align-content: center;
    align-items: center;
}

/*Text inside cell*/
    .AboutUs div div div {
        padding: 50px;
        display: flex;
        border-radius: 36px;
        background-color: rgba(255, 255, 255, 0.16);
        height: min-content;
        width: 75%;
        color: white;
        box-shadow: 60px 72px 64px rgba(0, 0, 0, 0.25);
        letter-spacing: 1px;
    }

/*Image inside cell*/
.AboutUs div div img {
    border-radius: 25px;
    box-shadow: 60px 72px 64px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1000px) {
    .AboutUs{
        align-items: stretch;
    }
    .AboutUs div{
        flex-direction: column;
        align-items: center;
        margin: 16px 0px 0px 0px;
    }
    .AboutUs div div{
        justify-content: unset;
        width: 90%;
    }
    .AboutUs div div div{
        padding: 16px;
    }
    .AboutUs div div img {
        width: 85%;
    }
    .MobileAboutUsColumnReverse{
        flex-direction: column-reverse !important;
    }
    .MobileAlignLeft {
        flex-direction: row !important;
    }
    .MobileAlignRight{
        flex-direction: row-reverse !important; 
    }
}