/*SignContainer*/
.HomeMain {
    font-family: Arial;
    font-stretch: narrower;
    
    font-size: 40px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Logo in SignContainer*/
.HomeMain img {
    display: flex;
    width: 128px;
    height: 128px;
}

.AboutUs {
    
}

.AboutUsMain {
    display: grid;
    gap: 1px;
    grid-template-columns: auto auto;
    grid-auto-rows: min-content;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}

.AboutUsMain div{
    display: flex;
    justify-content: center;
    align-content:center;
    margin: 30px;

    justify-items:center;
    align-items: center;
}

.AboutUsMain div div {
        padding: 100px 50px 100px 50px;
        display: flex;
        border-radius: 36px;
        background-color: rgba(255, 255, 255, 0.16);
        height: min-content;
        width: 65%;
        color: white;
        box-shadow: 60px 72px 64px rgba(0, 0, 0, 0.25);
        letter-spacing:1px;
    }

.c1r1 {
    grid-column: 1;
    grid-row: 1;
}

.c2r1 {
    grid-column: 2;
    grid-row: 1;
}

.c1r2 {
    grid-column: 1;
    grid-row: 2;
}

.c2r2 {
    grid-column: 2;
    grid-row: 2;
}

.c1r3 {
    grid-column: 1;
    grid-row: 3;
}

.c2r3 {
    grid-column: 2;
    grid-row: 3;
}

.c1r4 {
    grid-column: 1;
    grid-row: 4;
}

.c2r4 {
    grid-column: 2;
    grid-row: 4;
}

.AboutUsMain div img {
    border-radius: 25px;
    box-shadow: 60px 72px 64px rgba(0, 0, 0, 0.25);
    width: 75%;
}
