/*Main header container*/
header{
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: rgba(50, 50, 50, 0.4);
    flex-direction: row;
}

/*Header containers*/
header div{
    display: flex;
    flex-direction: row;
    align-items:center;
}

/*Links inside containers*/
header div a {
    display: flex;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: darkgray;
}

/*WebsiteMainName*/
.SiteMainName{
    font-size: 35px;
    color: white;
}

/*Logo*/
header div a img{
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

/*Navigation buttons container*/
.Navigation {
    flex-grow: 1;
    margin-left: 30px;
}

/*ConnectWallet button container*/
.ConnectWalletButton{
    display: flex;
    height: 66%;
}

/*ConnectWallet button*/
.ConnectWalletButton button{
    border-radius: 15px;
    border-color: transparent;
    color: white;
    background-color: rgba(170, 170, 170, 0.2);
    height: 100%;
    margin-right: 20px;

    padding-left: 35px;
    padding-right: 35px;
}

.MobileButton{
    display: none;
    padding: 10px;
}

.MobileButton img{
    display: flex;
    height: 100%;
    cursor: pointer;
}

/*ConnectWallet button click*/
.ConnectWalletButton button:hover {
    background-color: rgba(200,200,200, 0.5);
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

/*Links inside containers hover*/
header div a:hover {
    color: lightgray;
    transition-property: color;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

/*MAIN STYLE*/
#root {
    background-image: url("../../public/static/images/Background.png");
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*Disable body and set background image*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.MobileHomeMain{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 28px;
    color:white;
}

.MobileHomeMain img{
    display: flex;
    width: 80px;
    height: 70px;
}

/*Mobile Version*/
@media only screen and (max-width: 1000px){
    .Navigation a{
        display: none;
    }
    .ConnectWalletButton{
        display: none;
    }
    .SiteMainName{
        font-size: 24px;
    }
    .MobileButton{
        display: flex;
    }
}

@media only screen and (max-width: 360px){
    .SiteMainName{
        font-size: 20px;
    }
}