.LanguageButton {
    display: flex;
    padding: 10px;
}

.LanguageButton img {
    /*padding-right: 10px;*/
    height: 100%;
    cursor: pointer;
}

/*LanguageMenu*/
.LanguageMenu {
    top: 50px;
    width: 120px;
    position: absolute;
    flex-direction: column;
    right: 8vw;
    display: flex;
    /*display: none;*/
    /*background-color:rgba(255, 255, 255, 0.16);*/
    /* background-color: #5A718C;*/
    background-color: #3E4F65;
    border-color: gray;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}

.LanguageMenuRow {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
}

    .LanguageMenuRow:hover {
        background-color: rgba(255, 255, 255, 0.4);
        transition-property: background-color;
        transition-duration: 100ms;
    }

.LanguageMenuRow div {
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LanguageMenuFlagContainer {
    width: 20%;
}

.LanguageMenuSignContainer {
    width: 80%;
}

.LanguageMenuRow div img {
    width: 30px;
    height: 20px;
}

@media only screen and (max-width: 1680px) {
    .LanguageMenu {
        right: 9.5vw;
    }
}

@media only screen and (max-width: 1440px) {
    .LanguageMenu {
        right: 12vw;
    }
}

@media only screen and (max-width: 1280px) {
    .LanguageMenu {
        right: 14vw;
    }
}

@media only screen and (max-width: 1000px) {
    .LanguageMenu {
        right: 5vw;
    }
}