/*User Profile*/
.UserProfile {
    color: white;
    /*position: absolute;*/
    position: fixed;
    height: 350px;
    width: 270px;
    display: flex;
    flex-direction: column;
    right: 16px;
    background-color: #37475E;
    border-width: 2px;
    /*border-color: gray;*/
    /*border-style: solid;*/
    align-items: center;
    gap: 12px;
    border-radius: 0px 0px 38px 38px;
    z-index: 100;
}

.UserProfileBackground{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
}

.UserProfileLogo {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}

.UserProfileLogoName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    width: 70%;
}

.UserProfileLogoImage {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
}

    .UserProfileLogoImage img {
        height: 55px;
        width: 55px;
        display: flex;
    }

.UserProfileDataContainer {
    display: flex;
    flex-direction: row;
    background: rgba(172, 178, 210, 0.12);
    border-radius: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 70%;
    padding: 8px 10px 8px 10px;
    gap: 5px;
    text-align: center;
}

.UserProfileDataContainer img {
    display: flex;
    height: 28px;
    width: 28px;
}

.UserProfileDataContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.UserProfileDisconnectButton {
    display: flex;
    flex-direction: column-reverse;
    width: 60%;
    flex-grow: 0.8;
}

.UserProfileDisconnectButton button {
    height: 33%;
    background: #46546C;
    border-radius: 32px;
    border-color: transparent;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.UserProfileDisconnectButton button:hover {
     background-color: rgba(200,200,200, 0.5);
     transition-property: background-color;
     transition-duration: 100ms;
     transition-timing-function: ease-out;
}

.UserProfileCopiedToClipboard {
    display: flex;
    color: lime;
    font-size: 12px;
}

.UserProfileCloseButton{
    display: flex;
    width: 50%;
}

.UserProfileCloseButton button {
    background: #46546C;
    border-radius: 32px;
    border-color: transparent;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

.UserProfileCloseButton button:hover {
    background-color: rgba(200,200,200, 0.5);
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

@media only screen and (max-width: 1000px) {
    .UserProfileDataContainer{
        width: unset;
        color: white;
    }
    .UserProfile{
        display: none;
    }
}