.WalletDialogBackground {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5700;
    background-color: rgba(50, 50, 50, 0.7);
}

.WalletDialog {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5750;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MainDialog {
    color: white;
    display: flex;
    width: 600px;
    background: rgba(41, 64, 77, 0.91);
    border-radius: 47px;
    padding: 25px;
    flex-direction: column;
    align-items: center;
}

.Close {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.Close img {
    display: flex;
    height: 20px;
     width: 20px;
    cursor: pointer;
}

.MainDialogText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .MainDialogText div {
        display: flex;
        text-align: center;
    }

.MainDialogMainSign {
    font-size: 40px;
}

.Options {
    display: flex;
    flex-direction: column;
}

.MainDialogOptions {
    margin-top: 15px;
}

.MainDialogOptionsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MainDialogOptionContainer {
    height: 128px;
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.OptionImage {
    display: flex;
}

    .OptionImage img {
        height: 64px;
        width: 64px;
        cursor: pointer;
    }

        .OptionImage img:hover {
            height: 100px;
            width: 100px;
            transition-property: height width;
            transition-duration: 150ms;
            transition-timing-function: ease-out;
        }

.OptionText {
    font-size: 16px;
    display: flex;
    text-align: center;
}


@media only screen and (max-width: 700px){
    .MainDialog{
        width: 450px;
        padding: unset;
    }
    .MainDialogOptions{
        width: 70%;
    }
    .MainDialogMainSign{
        font-size: 24px;
    }
    .MainDialogText div{
        font-size: 16px;
    }
    .OptionImage img{
        width: 32px;
        height: 32px;
    }
    .OptionText{
        font-size: 16px;
    }
    .MainDialogOptionContainer{
        width: 64px;
        height: 64px;
    }
    .OptionImage img:hover {
        height: 64px;
        width: 64px;
        transition-property: unset;
        transition-duration: unset;
        transition-timing-function: unset;
    }
    .MainDialogOptionsRow{
        margin-bottom: 30px;
    }
    .Close{
        margin-top: 30px;
        width: 85%;
    }
}

@media only screen and (max-width: 450px) {
    .MainDialog {
        width: 300px;
    }
}
